
<section id="contact" class="contact-section">
    <div class="contact-section-header">
      <h2>Let's work together</h2>
    </div>
    <div class="contact-links">
      <a
        href="https://facebook.com/shreyansh631"
        target="_blank"
        class="contact-details"
        > Facebook</a>
      <a
        id="profile-link"
        href="https://github.com/shreyansh631"
        target="_blank"
        class="contact-details"
        > GitHub</a
      >
      <a
        href="https://twitter.com"
        target="_blank"
        class="contact-details"
        > Twitter</a
      >
      <a href="mailto:shreXXXXXXX@gmail.com" class="contact-details"
        > Send a mail</a>
    </div>
  </section>
  
